body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    line-height: 25px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 { font-family: "Playfair Display"
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline;
}

h3 {
    font-style: italic;
}

p {
    text-indent: 15px;
    font-size: 18px;
    padding: 10px;
}

a {}

a:hover {}

.col {
    color: #007fff;
    text-decoration-line: none;
}

blockquote {
    background: #eee;
    padding: 10px 20px;
    border-left: 5px solid #007fff;
    margin: 20px 0;
    font-size: 18px;
    word-spacing: 15px;
    line-height: 35px;
    font-style: italic;
    font-family: Montserrat;
}
ul {
    padding-left: 20px;
    padding: 15px;
}
pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    line-height: 25px;
    color: white;
}

.highlight {
    background-color: yellow;
    font-weight: 600;

}

.ver {
    text-transform: uppercase;
}

.zach {
    text-decoration-line: line-through;
}


.ras {
    word-spacing: 1em;
}